doctype html

script(src='/js/dist/eventPublisher.js')
script(src='/socket.io/socket.io.js')
script(src='/js/dist/jquery-3.1.0.min.js')
script(src='/vex/vex.combined.min.js')

if locals.context.environment == 'development' 
  script(src='/js/dist/easeljs/easeljs-0.8.2.combined.js')
  script(src='/js/dist/pylon.js')
else
  script(src='/js/dist/easeljs/easeljs-0.8.2.min.js')
  script(src='/js/dist/pylon.min.js')

script(src='/js/dist/staticData.js')
script(type='text/javascript')
  | PylonClient().init();